body {
    margin: 0;
    min-height: 100vh;

    background-image: url("imagens/3e952285184db6f932e9e1d0b299b484.jpg");
    background-size: 100% 100%;
    background-position: center;
    background-repeat: no-repeat;
    color: white;
}

.logo {
    width: 400%;
    max-width: 400px;
    height: auto;
    top: 30px;
}

.jogosdisponiveis{
    position: absolute;
    top: 20px;
    right: 15px;
    font-size: 15px; 
}

.pesquisar {
    width: 10%;
    height: 5vh;
    background-color: rgb(0, 17, 255);
    border: 2px solid rgb(16, 54, 59);
}

.barra {
    width: 20%;
    height: 5vh;
    font-size: 20px;
    color: rgb(13, 14, 14);
    background-color: rgb(179, 178, 178);
    border: 2px solid rgb(34, 33, 33)
}

.sugestoes{
    background-color: blue;

    color: white;
     width: 25%;

    display: flex;
    justify-content: center;

    align-items: center;
}

.borda-img{
    border: 5px solid blue;
}

.definição1{
    display: flex;
    align-items: center;
    gap: 15px;
}

.episodios {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}

.episodio1,
.episodio2,
.episodio3 {
    width: 30%;
}

.episodio4,
.episodio5 {
    width: 30%;
}

.borda-img2{
    border: 5px solid blue;
}

.definição2{
    display: flex;
    align-items: center;
    gap: 20px;
}
/*pra celular*/
@media (max-width: 769px) {
    .logo {
        width: 80%;
        max-width: 300px;
    }

    .barra {
        width: 60%;
        height: 5vh;
        font-size: 16px;
    }

    .pesquisar {
        width: 25%;
    }

    .sugestoes {
        width: 100%;
    }

    .definição1 {
        flex-direction: column;
        align-items: center;
    }

    .episodios {
        flex-direction: column;
        gap: 20px;
    }

    .episodio1,
    .episodio2,
    .episodio3,
    .episodio4,
    .episodio5 {
        width: 100%;
        box-sizing: border-box;
}

        .definição2 {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100%;
        box-sizing: border-box;
    }
     .definição2 p {
    width: 100%;
        box-sizing: border-box;
        margin: 0;
        overflow-wrap: break-word;
    }

    body {
        overflow-x: hidden;
    }

    main {
        width: 100%;
        box-sizing: border-box;
    }
/*pra computador*/
@media (min-width: 769px) 
 {     
        .logo {
        width: 400px;
        max-width: 400px;
        height: auto;
    }

    .barra {
        width: 20%;
    }

    .pesquisar {
        width: 10%;
    }

    .sugestoes {
        width: 25%;
    }

    .definição1 {
        display: flex;
        flex-direction: row;
        align-items: center;
        gap: 15px;
    }

    .episodios {
        display: flex;
        flex-direction: row;
        gap: 20px;
    }

    .episodio1,
    .episodio2,
    .episodio3,
    .episodio4,
    .episodio5 {
        width: 18%;
        box-sizing: border-box;
    }
}
    
